#profile {
  background-color: var(--background-color);
}

#modif {
  background-color: var(--accent-color);
  border: none;
}

#textarea {
  height: 100px;
}

.form-control {
  background-color: white;
}

.text-justify {
  text-align: justify;
}

.btn {
  transition: opacity 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}
