footer {
  background-color: var(--navfooter-color);
}

#submit-button {
  background-color: var(--accent-color);
  color: black;
  transition: opacity 0.3s ease-in-out;
}

#submit-button:hover {
  opacity: 0.8;
}

.form-control {
  background-color: var(--background-color);
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}
