.button {
  background-color: var(--secondary-color);
}

.spinner {
  color: var(--primary-color);
}

.badge-custom {
  background-color: var(--primary-color) !important;
  color: black;
}

.text-justify {
  text-align: justify;
}
